body {
  color: #efeeeb;
}

.loginRegForm {
  background-color: #32363a;
  color: #efeeeb;
  width: 450px;
  margin: auto;
  margin-top: 150px;
  border-radius: 5px;
  box-shadow: 2px 2px 4px 2px #747272D5;
  padding: 20px;
}
.btn-secondary {
  border: 1px solid #d1ce56;
  font-family: 'Rajdhani', sans-serif;
  font-weight: 400 !important;
  font-size: 15px !important;
  width: 46%;
  padding: 5px;
  font-size: 11px;
}
.btn-primary {
  border: 1px solid #d1cd56;
  font-family: 'Rajdhani', sans-serif;
  font-size: 30px !important;
  font-weight: 400 !important;
  letter-spacing: 2px;
  color: #32363a;
  margin: 20px 0px 20px 0px;
  width: 92% !important;
  height: 55px;
  background-color: #d1ce56;
}
.active {
  color: #32363a;
  margin-top: 20px;
  background-color: #d1ce56;
  border: 1px solid yellow;
}
.inactive {
  color: #efeeeb;
  background-color: transparent;
  /* margin-top: 20px; */
}

h2 {
  font-weight: 450;
}
input {
  background-color: transparent;
  margin: 5px 0px 5px 0px;
  padding: 7px;
  border: 1px solid #efeeeb;
  font-size: 10px;
  width: 393px;
  color: #efeeeb;
}
input::placeholder {
  color: #efeeeb5E;
}

#firstName {
  margin-right: 7px;
}
#firstName, #lastName {
  width: 185px !important;
  border: 1px solid #efeeeb !important;
}